@media (max-width:284px){
  .surname{
    display:none;
  }
  main .hero-container .banner-buttons{
    flex-direction: column;
    align-items: center;
  }
  main .about-container .profile-pic img{
    height:190px;
  }
}
@media (max-width:400px){
  main .hero-container h2{
    line-height:35px;
  }
}
@media (min-width:400px){
  main .hero-container .hero-banner{
    font-size:4.1vw;
    line-height: 2.3em;
  }
  main .hero-container .banner-button{
    height:35px;
    width:90px;
    border-radius:20px;
    font-size:0.9rem;
  }
  main .services-container,main .edu-container,main .contact-container{
    padding:20px 40px;
  }
}
@media (min-width:636px){
  .navbar .left{
    margin-left:40px;
  }
  .navbar .right{
    margin-right:40px;
  }
  main .about-container .about-me{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
    gap:20px;
  }
  main .about-container .about-summary{
    padding:0 10px;
  }
  main .about-container .bio-data{
    width:100%;
  }
  main .about-container .profile-pic img{
    height:240px;
  }
  main .about-container .progress{
    padding:10px 20px 20px 20px;
  }
  main .about-container .sub-row{
    flex-direction: row;
    align-items: center;
    max-width:600px;
    justify-content: space-between;
    gap:5%;
  }
  main .about-container .infinite-scroll{
    margin:30px -20px 0 -20px;
  }
  /*---------service-section---------*/
  main .services-container .service-box{
    max-width: 200px;
  }
  /*-----------education---------------*/
  main .edu-container section{
    margin:30px 20px 0 20px;
  }
  /*main .edu-container h2{
    margin:10px -20px 0 -20px;
    padding-left:60px;
  }*/
}
@media screen and (min-width:768px){
  .contactLineSep{
    display:none;
  }
  main .about-container .about-content,main .services-container,main .edu-container,main .contact-container{
    font-size: 1.2em;
  }
  /*----------navbar-----------------*/
  .hamburger{
    display:none;
  }
  .ham-icon{
    display:none;
  }
  .navbar{
    height:3.125rem;/*50px*/
    width:auto;
    padding:0 40px;
    top:0.3rem;
    right:0;
    border-top-left-radius: 1.5625rem;/*25*/
    border-bottom-left-radius:1.5625rem;
    font-size: 1rem;
    transition: all 0.5s ease;
  }
  .navbar .right{
    margin-right:-50px;
  }
  .navbar .left{
    display:none;
  }
  .navbar .right .ham-item-ul{
    position:static;
    height:3.125rem;/*50px*/
    gap:0;
    padding:0;
    /*padding-left:20px;*/
    width:auto;
    list-style: none;
    flex-direction:row;
    justify-content: right;
    align-items: center;
    background-color:transparent;
    margin-right:40px;
  }
  .navbar .right .ham-item-ul .ham-item{
    width:auto;
    transform: scale(1);
    opacity:1;
  }
  .ham-item-ul .ham-item .ham-outer{
    border:none;
    margin-top:-5px;
  }
  .ham-item-ul .ham-item .ham-outer,.ham-item-ul .ham-item .ham-inner{
    display:inline-block;
    height:auto;
    width:auto;
    gap:0;
    border:none;
  }
  .ham-item-ul .ham-item .ham-inner span{
    font-size:1.15em;
    transition: font-size 0.3s ease, color 0.3s ease;
  }
  /*header .right li div*/
  .ham-item-ul .ham-item .ham-inner span:hover{
    font-size: 0.8rem;
    color:#9494b8;
    cursor:pointer;
  }
  .navbar .right .ham-item-ul .additional-links{
    display:none;
  }
  /*----------hero-section-----------*/
  main .hero-container .hero-banner{
    font-size:2.5vw;
  }
  main .hero-container .banner-button{
    height:40px;
    width:120px;
    border-radius:20px;
    font-size:1.15rem;
  }
  /*-----------About-section--------*/
  .section-title{
    position:static;
  }
  main .about-container{
    display:flex;
    flex-direction: column-reverse;
  }
  main .about-container h2{
    margin-bottom:20px;
  }
  main .about-container .bio-data{
    font-size: 1.1em;
  }
  main .about-container .bio-data .data{
    font-size: 0.7em;
  }
  main .about-container .t-skills{
    font-size:1.1em;
  } 
  /* main .about-container .l-skills{
    font-size:1.1em;
    width:50%;
    margin:0;
  } */

  main .about-container .progress{
    row-gap:35px;
  }
  main .about-container .items{
    width:65px;
  }
  main .about-container .wrapper{
    height:75px;
  }
  /*---------service-section---------*/
  /*main .services-container{
    font-size: 1.2em;
  }*/
  .commonT{
    margin:10px -20px 20px -20px;
  }
  main .services-container .service-content{
    row-gap:20px;
  }
  main .services-container .service-box{
    font-size: 1.01em;
    max-width: 250px;
  }
  main .services-container .service-box h3{
    line-height: 30px;
  }
  main .services-container .service-box p{
    font-size: 0.8em;
    line-height:20px;
  }
  /*-----------education---------------*/
  main .edu-container section{
    margin:30px 30px 0 30px;
    max-width:240px;
  }
  /*main .edu-container h2{
    font-size: 2.5em;
  }*/
  /*---------------Contact-------------*/
  main .contact-container{
    height:850px;
  }
  main .contact-container .c-background-image{
    height:500px;
    margin-top:100px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  main .contact-container .c-form{
    max-width:400px;
    margin-top:-10px;
  
}
@media (min-width:790px){
  /*-----------skills--------------*/
  main .about-container .skills .s-first-row{
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    gap:20px;
  }
  /*---------service-section-----------*/
  main .services-container{
    padding:30px;
  }
  main .services-container .service-box{
    max-width:270px;
  }
  main .services-container .service-box p{
    --service-height:5em;
    max-height: var(--service-height);
    opacity: 0.7;
  }
  main .services-container .read-more-btn{
    font-size: 0.8em;
  }
  /*-----------education---------------*/
  main .edu-container section{
    max-width:255px;
  }
  main .edu-container section h3{
    font-size: 1.5em;
  }
  main .edu-container section p{
    font-size: 0.95em;
  }
  main .edu-container section .period{
    font-size: 1.3em;
  }
 
}
@media (min-width:900px){
  main .about-container .bio-data{
    min-width:340px;
 }
  main .about-container .bio-data .data{
    font-size: 0.9em;
  }
  main .about-container .profile-pic img{
    height:270px;
  }
  /*----------service-section---------*/
  main .services-container .service-box{
    max-width:300px;
  }
  /*-----------education---------------*/
  main .edu-container .edu-wrapper{
    row-gap:30px;
  }
  main .edu-container section{
    margin:30px 30px 0 30px;
    max-width:300px;
  }

  
}
@media (min-width:1024px){
  main .hero-container{
    justify-content: start;
    margin-left:90px;
  }
  main .hero-container .hero-banner{
    align-items: start;
    font-size: 2vw;
  }
  /* main .about-container .t-skills{
    width:50%;
  } */
  /*--------skills----------*/
  /* main .about-container .skills{
    width:60%;
    display:flex;
    align-items: flex-start;
    margin:-31% -20% 0 40%;
  } */
  /* main .about-container .t-skills{
    width:50%;
    margin:0;
  } */
  /* main .about-container .l-skills{
    width:50%;
    margin:0;
  } */
  /* main .about-container .infinite-scroll{
    width:60%;
    margin:45px 0 0 40%;
  } */
  .commonT{
    padding-left:70px;
  }
  /*-------------Contact-------------*/
  main .contact-container .c-background-image{
    column-gap:50px;
  }
}
@media (min-width:1140px){
  /*----------service-section---------*/
  main .services-container .service-box{
    max-width:250px;
  }
}
@media (min-width:1200px){
  main .hero-container{
    height:900px;
    justify-content: start;
    margin-left:130px;
  }
  main .hero-container .hero-banner{
    align-items: start;
    font-size: 1.9vw;
    line-height: 2.4em;
  }
  /* main .about-container .skills{
    margin:-36% -20% 0 40%;
  } */
  /*----------service-section---------*/
  main .services-container .service-box{
    max-width:300px;
  }
}
@media (min-width:1260px){
  /* main .about-container .skills{
    margin:-32% -20% 0 40%;
  } */
}
@media (min-width:1340px){
  /* main .about-container .skills{
    margin:-30% -20% 0 40%;
  } */
}
@media (min-width:1360px){
  /* main .about-container .skills{
    margin:-28% -20% 0 40%;
  } */
}
@media (min-height:700px){
  main .hero-container{
    height:1000px;
  }
}
@media (max-aspect-ratio:1/1) and (min-width:768px){
  main .hero-container{
    height:900px;
  }
}
@media (min-aspect-ratio:1/1){
  main .hero-container{
    height:100vh;
  }
}

